<!DOCTYPE html>
<html>
    <body>
        <h1>website</h1>

        <form action="/fetch" method="POST">
            <label for="id">Project ID</label><br>
            <input type="text" name="id">
            <input type="submit">
        </form>

        <br><br>
        Status: {{ status }}
        <br>
        {% if data %}
            {% for item, value in data.items() %}
            {{ item }}: {{ value }} <br>
            {% endfor %}
        {% endif %}
        
        
    </body>
</html>