<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="styles/index.css">
    <body>
        <div class="title_box"><h1>Project Statistics</h1></div>

        <form action="/fetch" method="POST">
            <label for="id">Project ID</label><br>
            <input type="text" name="id">
            <input type="submit">
        </form>

        <br><br>
        Status: {{ status }}
        <br>
        {% if data %}
            {% for item, value in data.items() %}
            {{ item }}: {{ value }} <br>
            {% endfor %}
        {% endif %}
        
        
    </body>
</html>